* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora";
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100%-48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    display: inline-block;
    min-width: 205px;
    height: var(--height);
    border-radius: 30px;
    background: #2e80ce;
    color: #fff;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: var(--height);
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section__heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section__desc {
    width: 468px;
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

/* Header */
.header {
    min-height: 100vh;
    background: var(--header-bg);
    padding-top: 30px;
    padding-bottom: 110px;
}

.logo {
    display: inline-flex;
    font-size: 1rem;
    position: relative;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    color: #fff;
    text-align: right;
    line-height: 1.5em;
}

.logo__brand {
    display: block;
    margin-left: 0.6em;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__login {
    padding: 4px 24px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
}

.navbar__link--active,
.navbar__link:hover {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    top: -2px;
    left: -8px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
    font-size: 1.6rem;
    border-radius: 22px;
}

.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 44%;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    color: #c9d2da;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    margin-top: 22px;
}

.hero__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero__images {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

.services {
    padding: 170px 0;
}

.services .section__heading,
.services .section__desc {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.services__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.services__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.services-item {
    display: flex;
    padding: 22px;
    width: 470px;
    border-radius: 10px;
    transition: 0.25s;
}

.services-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #10375c;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.services-item__body {
    margin-left: 20px;
}

.services-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.27;
}

.services-item__desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    margin-top: 8px;
}

.services-item:hover {
    background: #fff;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services-item:hover .services-item__icon {
    background: #2e80ce;
    color: #fff;
}

.services__btn {
    margin-top: 55px;
}

.work {
    padding: 100px 0;
    background: #f6fbff;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 86px;
}

.work-item {
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    padding: 43px;
}

.work-item:hover {
    transform: translateY(-16px);
    border-color: #2E80CE;
    transition: 0.3s;
}

.item__heading {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.item__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.item__link {
    display: inline-block;
    margin-top: 18px;
    color: #575f66;
    font-size: 1.6rem;
    line-height: 1.75;
}
